{% extends "base.html" %}
{% block content %}
<h1>PRODUCT STOCK:</h1><br>
<div class="container">
{% for product in all_products %}
    <div>
        <u>Product:</u><br>
        {{product.product_name}}<br>
        <u>Description:</u><br>
        {{product.product_description}}<br>
        <u>Manufacturer:</u><br>
        {{product.manufacturer.manufacturer_name}}<br>
        <div>
            <form>
                <u>In stock:</u> {{product.in_stock}} 
            </form>
            {% if product.in_stock == 0 %} 
                <i class="stock" style="color:red">OUT OF STOCK!!!</i>
            {% elif product.in_stock <= 24 %}
                <i class="stock" style="color:goldenrod">LOW STOCK!!!</i>
            {% endif %}
        </div><br>
        <u>Buy in cost:</u> {{product.buy_cost}} Credits<br>
        <u>Selling price:</u> {{product.sell_cost}} Credits<br>
        <u>Mark up:</u> {% print"{:.0f}".format(((product.sell_cost-product.buy_cost)/product.buy_cost)*100) %}%<br>
        <div class="button-box">
            <form action="/products/{{product.id}}">
                <button class="button">DETAILS</button>
            </form>
            <form action="/products/{{product.id}}/edit" method="get">
                <button class="button">EDIT</button>
            </form>
            <form action="/products/{{product.id}}/delete" method="post">
                <button class="button">DELETE</button>
            </form>
        </div>
        
    </div>
{% endfor %}
</div>
{% endblock %}