{% extends "base.html" %}
{% block content %}
<h1>PRODUCT STOCK:</h1>

{% for product in all_products %}

<div class="product">
    <div>
        Product:<br>
        {{product.product_name}}<br>
        Description:<br>
        {{product.product_description}}<br>
        Manufacturer:<br>
        {{product.manufacturer.manufacturer_name}}<br>
        <div class="stock">
            <form>
                In stock: {{product.in_stock}} 
            </form>
            {% if product.in_stock == 0 %} 
                <i class="stock" style="color:red"></i>
            {% elif product.in_stock <= 20 %}
                <i class="stock" style="color:goldenrod"></i>
            {% endif %}
        </div><br>
        Buy in cost: {{product.buy_cost}} Credits<br>
        Selling price: {{product.sell_cost}} Credits<br>
        <div class="button">
            <form class="detaild" action="/products/{{product.id}}">
                <button>DETAILS</button>
            </form>
            <form class="edit" action="/products/{{product.id}}/edit" method="get">
                <button>EDIT</button>
            </form>
            <form class="delete" action="/products/{{product.id}}/delete" method="post">
                <button>DELETE</button>
            </form>
        </div>
        <hr>
    </div>
</div>

{% endfor %}

{% endblock %}