{% extends "base.html" %}

{% block content %}

<div class="product">
    <div>
        Product:<br>
        {{product.product_name}}<br>
        Description:<br>
        {{product.product_description}}<br>
        Manufacturer:<br>
        {{product.manufacturer.manufacturer_name}}<br>
        In stock: {{product.in_stock}}<br>
        Buy in cost: {{product.buy_cost}} Credits<br>
        Selling price: {{product.sell_cost}} Credits<br>
        <div class="button">
            <form class="delete" action="/products/{{product.id}}/delete" method="post">
                <button>DELETE</button>
            </form>
        </div>
        <hr>
    </div>
</div>

{% endblock %}