{% extends "base.html" %}
{% block content %}
<h1>MANUFACTURERS:</h1>

{% for manufacturer in all_manufacturers %}

<div class="manufacturer">
    <div>
        Company:<br>
        {{ manufacturer.manufacturer_name }}<br>
        HQ:<br>
        {{ manufacturer.manufacturer_location }}<br>
        <div class="button">

        <form class="detaild" action="/manufacturers/{{manufacturer.id}}">
            <button>DETAILS</button>
        </form>

        <form class="edit" action="/manufacturers/{{manufacturer.id}}/edit" method="get">
            <button>EDIT</button>
        </form>

        <form class="delete" action="/manufacturers/{{manufacturer.id}}/delete" method="post">
            <button>DELETE</button>
        </form>
        <hr>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}