{% extends "base.html" %}
{% block content %}
<h1><u>MANUFACTURERS:</u></h1>
<div class="container">
{% for manufacturer in all_manufacturers %}
    <div>
        <u>Company:</u><br>
        {{ manufacturer.manufacturer_name }}<br>
        <u>HQ:</u><br>
        {{ manufacturer.manufacturer_location }}<br>
        <div class="button-box">
        <form action="/manufacturers/{{manufacturer.id}}">
            <button class="button">DETAILS</button>
        </form>
        <form action="/manufacturers/{{manufacturer.id}}/edit" method="get">
            <button class="button">EDIT</button>
        </form>
        <form action="/manufacturers/{{manufacturer.id}}/delete" method="post">
            <button class="button">DELETE</button>
        </form>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}