{% extends "base.html" %}

{% block content %}
<div class="container">
    <div>
    <form action="/manufacturers" method="post">
        <div>
            <label for="manufacturer_name"><u>Manufacturer Name:</u></label><br>
            <input type="text" id="manufacturer_name" name="manufacturer_name" placeholder="Manufacturer Name" required autofocus>
        </div>

        <div>
            <label for="manufacturer_location"><u>Manufacturer Location:</label><br>
            <input type="text" id="manufacturer_location" name="manufacturer_location" placeholder="Manufacturer Location" required>
        </div>
        <button class="button" type="submit">Add Manufacturer</button>
    </form>
    </div>
</div>

{% endblock %}