<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Watto's Junk Emporium</title>
</head>
<body>
    <main>
        <nav>
            <ul>
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a>Products</a>
                </li>
                <li>
                    <a>Manufacturers</a>
                </li>
            </ul>
        </nav>
        <section>
            {% block content %}

            {% endblock %}
        </section>
    </main>
</body>
</html>