<!DOCTYPE html>
<html lang="en">
<head>
    <title>Watto's Junk Emporium</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <h1 class="title"><b>Watto's Junk Emporium - <u>"GET BACK TO WORK!"</u></b></h1><hr>
        <nav>
            <ul>
                <li>
                    <a class="nav-list" href="/">Home</a>
                </li>
                <li>
                    <a class="nav-list" href="/products">Products</a>
                </li>
                <li>
                    <a class="nav-list" href="/products/new">Add New Product</a>
                </li>
                <li>
                    <a class="nav-list" href="/manufacturers">Manufacturers</a>
                </li>
                <li>
                    <a class="nav-list" href="/manufacturers/new">Add New Manufacturer</a>
                </li>
            </ul>
        </nav>
        <hr>
        <section>
            {% block content %}
            {% endblock %}
        </section>
    </main>
</body>
<hr>
<footer>Watto's Junk Emporium - <u>"GET BACK TO WORK!"</u></footer>
</html>